html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('./img/furbg.png') no-repeat center center fixed;
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bg {
    background-image: url('./img/puppybg.png');
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}